{% load static %}
<!doctype html>
<html lang="en" ng-app="newAtten">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/employee/">
        <title>Employee Attendance App</title>


        <!-- Favicon Import-->
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <!-- JQuery-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />


        <!-- jQuery UI Theme (Beautiful Bootstrap-compatible) -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css">

        <!-- Bootstrap DatePicker CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">

        <!-- Bootstrap DatePicker JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

        <!-- Font Awesome-->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/handsontable@13.0.0/dist/handsontable.full.min.css"
        />

        <!--Importing Styles-->
        <link rel="stylesheet" href="{% static 'app/styles/main_style.css' %}" />
        <link rel="stylesheet" href="{% static 'app/styles/login_style.css' %}" />

        <script src="https://cdn.jsdelivr.net/npm/handsontable@13.0.0/dist/handsontable.full.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.6/underscore-min.js"></script>

        <!-- Chartjs -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script src="{% static 'app/js/scripts/showtext.js' %}"></script>
        <script src="{% static 'app/js/scripts/main_script.js' %}"></script>
        <script src="{% static 'app/js/scripts/sidebar_button.js' %}"></script>
        <script src="{% static 'app/js/app.module.js' %}"></script>

        <!--Importing MomentJs-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

        <!--Importing Controller-->
        <script src="{% static 'app/js/controllers/loginController.js' %}"></script>
        <script src="{% static 'app/js/controllers/dashboardController.js' %}"></script>
        <script src="{% static 'app/js/controllers/adminController.js' %}"></script>
        <script src="{% static 'app/js/controllers/settingsController.js' %}"></script>
        <script src="{% static 'app/js/controllers/applyLeaveController.js' %}"></script>

        <!--Custom Directives-->
        <script src="{% static 'app/js/directives/calendarDay.js' %}"></script>
        <script src="{% static 'app/js/directives/collegueView.js' %}"></script>

        <!--Importing Services-->
        <script src="{% static 'app/js/services/pictures.js' %}"></script>
        <script src="{% static 'app/js/services/jsons.js' %}"></script>
    </head>

    <body>
        <div class="row">
            <div ng-view></div>
        </div>
    </body>
</html>
